.menu-carasol {
  margin-top: 2%;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  background: #171a29;
  color: #fff;
}

.menu-carasol img {
  margin: auto;
  height: 160px;
}

.details {
  width: 30%;
  margin-top: 3%;
}

.details p {
  margin-top: 3%;
}

.details ul {
  margin-top: 3%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.offer {
  width: 25%;
  margin: auto;
}

.offer div {
  width: 80%;
  border: 1px solid white;
  height: 120px;
  text-align: center;
  padding: 10px;
}

.offer p {
  margin-top: 6%;
}
